{
    box-sizing: border-box;
}
body{
    margin: 50px;
    padding: 300px;
    max-width: 100vw;
    background-color: black;
    color: white;
    font-family: serif;
    display: grid;
    align-items: center;
    perspective: 1vh;
    perspective-origin: center;

}
img{
    max-width: 100%;
}

.silly{
    background: black;
    font-size: 50px;
    transform-origin: center;
    animation-name: help;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes help {

    25% {
        transform: rotate(90deg)
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}